<!-- begin hero -->
<section class="hero">
  <div class="container" style="background: white;border-radius: 0px">
    <div class="row">
      <div class="col col-10 col-d-12">
        <div class="hero__inner">
          <img src="{{site.baseurl}}/images/newlogo.png" style="float: left;" width="15%"/><h1 class="hero__title">{{ site.data.settings.hero.hero__title }}</h1>
          <p class="hero__description">{{ site.data.settings.hero.hero__description }}</p><img src="{{site.baseurl}}/images/about.png" style="float: right;"/>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end hero -->